Header {
    grid-area: header;
    width: 100vw;
    background: linear-gradient(180deg, rgba(244, 195, 20, 0.2) 0%, rgba(0, 0, 0, 0) 100%), #CC0000;
    opacity: 0.8;
    display: flex;
    justify-content: center;
}

.logo {
    align-items: center;
}