Footer {
    grid-area: footer;
    width: 100vw;
    height: 222px;
    background: linear-gradient(180deg, rgba(0, 30, 255, 0.242) 41.15%, rgba(59, 76, 202, 0.44) 100%), #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.githublogo {
height: 50%;
}